<div class="row ml-auto mt-5">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-fluid">
  </div>
</div>
<div class="row ml-auto">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row ml-auto">
  <div class="col-xs-12">
    <div class="dropdown">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Manage Recipe
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item"><a (click)="onAddToShoppingList()" style="cursor: pointer;color: dodgerblue">Add to shopping list</a></a>
          <a class="dropdown-item"><a href="#">Edit recipe</a></a>
          <a class="dropdown-item"><a href="#">Delete recipe</a></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row ml-auto">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>
<div class="row ml-auto">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
